name: sync_tool
on: [pull_request]
jobs: 
  sync_tool:
    runs-on: ubuntu-latest
    steps:
    - name: Check source branch
      id: check-source-branch
      if: github.ref == 'refs/heads/sync'
      run: echo "Welcome to the sync tool"
      
