name: check-for-pr-comments
on:
  issue_comment:
    types: [created, edited] # Trigger for new or edited comments 
jobs: 
  check-for-comments:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      name: Checkout current commit
      with:
        ref: calebu-patch-1
        path: main
    - name: Install GitPython package
      run: echo echo '${{ toJSON(github.event) }}' && pip install gitpython
    - name: Check for comments
      run: |
	  	COMMENT_URL="https://api.github.com/repos/${{ github.repository }}/issues/${PR_NUMBER}/comments"
        python3 ./main/scripts/check.py '${{ github.event.comment.body }}' '${{ secrets.GHA_PAT }}' '$COMMENT_URL'
      shell: bash
