name: sync_tool
on: [pull_request] 
jobs: 
  sync_tool:
    runs-on: ubuntu-latest
    steps:
    - name: Check source branch
      id: check-source-branch
      if: github.head_ref == 'sync'
      run: |
        PR_NUMBER=${{ github.event.pull_request.number }}
        #COMMENT="$(python3 ./main/sample.py check-changes)"
        COMMENT="<html><body><h4>Repo sync tool</h4>To use the sync tool, add a comment in the format below.<br><pre>\
        action:sync<br>\
        source:a_source<br>\
        target:a_target\
        </pre></body></html>"
        GITHUB_TOKEN=${{ secrets.GHA_PAT }}
        COMMENT_URL="https://api.github.com/repos/${{ github.repository }}/issues/${PR_NUMBER}/comments"
        curl -s -H "Authorization: token ${GITHUB_TOKEN}" -X POST $COMMENT_URL -d "{\"body\":\"$COMMENT\"}"
      
