name: check-for-pr-comments
on:
  issue_comment:
    types: [created, edited] # Trigger for new or edited comments 
jobs: 
  auto-comment:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      name: Checkout current commit
      with:
        ref: main
        path: main
    - name: Check for new comments
      run: |
        COMMENT_BODY="${{ github.event.comment.body }}"
        echo "The comment body is: $COMMENT_BODY"
        python3 ./main/sample.py "$(echo $COMMENT_BODY)"
      shell: bash
