name: check-for-pr-comments
on:
  issue_comment:
    types: [created, edited] # Trigger for new or edited comments 
jobs: 
  check-for-comments:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      name: Checkout current commit
      with:
        ref: calebu-patch-1
        path: main
    - name: Install GitPython package
      if: github.head_ref == 'sync'
      run: pip install gitpython
    - name: Check for comments
      if: github.head_ref == 'sync'
      run: |
        COMMENT="$(python3 ./main/scripts/check.py '${{ github.event.comment.body }}' '${{ secrets.GHA_PAT }}')"
        if [[ "$COMMENT" != "" ]]; then
					PR_NUMBER=${{ github.event.pull_request.number }}
					GITHUB_TOKEN=${{ secrets.GHA_PAT }}
					COMMENT_URL="https://api.github.com/repos/${{ github.repository }}/issues/${PR_NUMBER}/comments"
					curl -s -H "Authorization: token ${GITHUB_TOKEN}" -X POST $COMMENT_URL -d "{\"body\":\"$COMMENT\"}"
        fi
      shell: bash
