name: check-for-pr-comments
on:
  issue_comment:
    types: [created, edited] # Trigger for new or edited comments 
jobs: 
  check-for-comments:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      name: Checkout current commit
      with:
        ref: calebu-patch-1
        path: main
    - name: Install GitPython package
      if: github.ref == 'refs/heads/sync'
      run: echo '${{ toJSON(github.event) }}'
