name: check-for-pr-comments
on:
  issue_comment:
    types: [created, edited] # Trigger for new or edited comments 
jobs: 
  check-for-comments:
    runs-on: ubuntu-latest
    steps:
    - name: Check for comments
      run: |
        COMMENT_BODY="${{ github.event.comment.body }}"
        echo "The comment body is: $COMMENT_BODY"
      shell: bash
