name: sync_tool
on: [pull_request]
jobs: 
  sync_tool:
    runs-on: ubuntu-latest
    steps:
    - name: Check source branch
      id: check-source-branch
      run: |
        echo "${{ github.ref }}"
      
