name: auto-comment-on-pr
on: [pull_request]
jobs: 
  auto-comment:
    runs-on: ubuntu-latest
    steps:
    - name: Check PR Changes
      id: pr-changes
      run: echo "::set-output name=changes::${{ toJson(github.event.pull_request.changed_files) }}"

    - uses: actions/checkout@v2
      name: Checkout current commit
      with:
        ref: main
        path: main
    - name: Push commit and raise PR
      env:
          GH_TOKEN: ${{ secrets.GHA_PAT }}
      run: |
        cd main
        git checkout -b smog
        touch test.php
        git config --global user.email "you@example.com"
        git config --global user.name "Your Name"
        git add .
        git commit -m "Adding test.php"
        git push origin HEAD
        gh pr create --title "Pull request title" --body "Pull request body" --base main --head smog
    - name: Install local package
      run: pip install pandas
    - name: Create Comment
      if: steps.pr-changes.outputs.changes != '[]'
      run: |
        # Use GitHub API to create a comment on the PR
        PR_NUMBER=${{ github.event.pull_request.number }}
        COMMENT="$(python3 ./main/sample.py check-changes)"
        echo "The comment body is: $COMMENT"
        GITHUB_TOKEN=${{ secrets.GHA_PAT }}
        COMMENT_URL="https://api.github.com/repos/${{ github.repository }}/issues/${PR_NUMBER}/comments"

        curl -s -H "Authorization: token ${GITHUB_TOKEN}" -X POST $COMMENT_URL -d "{\"body\":\"$COMMENT\"}"
      
