name: check-for-pr-comments
on:
  issue_comment:
    types: [created, edited] # Trigger for new or edited comments 
jobs: 
  check-for-comments:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      name: Checkout current commit
      with:
        ref: calebu-patch-1
        path: main
    - name: Install GitPython package
      run: echo echo '${{ toJSON(github.event) }}' && pip install gitpython
    - name: Check for comments
      id: check-for-comments
      run: echo '${{ github.ref }}' && echo '${{ github.head_ref }}'
      shell: bash
