name: auto-comment-on-pr
on:
  issue_comment:
    types: [created, edited] # Trigger for new or edited comments
jobs: 
  auto-comment:
    runs-on: ubuntu-latest
    steps:
    - name: Check for new comments
      run: |
        COMMENT_BODY="${{ github.event.comment.body }}"
        echo "The comment body is: $COMMENT_BODY"
        python3 ./main/sample.py "$(echo $COMMENT_BODY)"
      shell: bash
