name: 'My Custom Action'
description: 'Performs an action with inputs'
inputs:
  myInput:
    description: 'A custom input'
    required: true
    default: 'default value'
jobs:
  prettier_test:
  runs-on: ubuntu-latest
  steps:
    - name: Checkout
    uses: actions/checkout@v3
    
    - name: Docker pull
    id: docker
    #run: docker pull ghcr.io/tmknom/dockerfiles/prettier && docker run --rm -v $(pwd):/work tmknom/prettier --check test1.js > output.txt 2>&1 || cat output.txt && echo "${{ toJSON(github.event.pull_request) }}" && return 0
    run: docker pull ghcr.io/tmknom/dockerfiles/prettier && docker run --rm -v $(pwd):/work tmknom/prettier --check test.js --parser typescript
    #continue-on-error: true 
