name: Prettier code formatting check
on:
  workflow_dispatch:
    inputs:
      dryRun:
        description: 'Run without making changes'
        required: true
        type: 'boolean'
        default: 'false'
