name: 'My Custom Action'
description: 'Performs an action with inputs'
inputs:
  myInput:
    description: 'A custom input'
    required: true
    default: 'default value'
runs:
  using: 'node12'
  main: 'index.js'
